* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #f5f6fa;
}

.userDashboard {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  overflow: hidden;
}

.userDashboard__left {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  object-fit: contain;
}

.userDashboard__leftTop {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.userDashboard__leftWallet {
  display: flex;
  flex-direction: column;
}
.userDashboard__leftWallet > h4 {
  margin-bottom: 5px;
}
.userDashboard__leftTitle {
  font-size: 23px;
  margin-left: 8px;
}

.userDashboard__leftMenu {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}
.userDashboard__leftMenu:hover {
  border-color: #00b8d8;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
}
.userDashboard__leftMenuItem {
  margin-left: 8px;
}

.userDashboard__leftConnectWallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 150px;
  background-color: #f5f6fa;
  height: 50px;
  object-fit: contain;
  border-radius: 10px;
  margin-top: 40px;
}
.circle {
  background-color: red;
  color: white;
  border-radius: 50%;
  margin-left: 5px;
}
.userDashboard__leftConnectWallet:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* ////////////////////////////////////////////////// */
.userDashboard__middle {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}

.userDashboard__middleHeader {
  display: flex;
  justify-content: space-between;
}

.header__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 0.8;
}

.header__searchInput {
  height: 30px;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}
.header__networkName {
  height: 30px;
  background-color: white;
  object-fit: contain;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 25%;
}

.userDashboard__adv {
  background-color: #ffd8d9;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
.userDashboard__adv > h3 {
  text-align: center;
  color: #d57d83;
}
.portfolio__holdings {
  display: flex;
  flex-direction: row;
  object-fit: cover;
  margin-top: 20px;
}
.portfolio__graph {
  background-color: white;
  border-radius: 10px;
  flex: 0.8;
  margin: 10px;
}
.portfolio__graph > h3 {
  padding: 5px;
}
.current__holdings {
  background-color: #555bb3;
  display: flex;
  color: white;
  border-radius: 10px;
  flex-direction: column;
  padding: 15px;
  flex: 0.2;
  margin: 10px;
}
.holdings {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.holdings > p {
  color: lightgreen;
  font-weight: bold;
}

.key__metrics {
  margin: 10px;
  flex: 1;
}
.key__metrics > div {
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  height: 130px;
}
.metrics__currentEvents {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.event {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  width: 20vw;
}
.event > div {
  margin-left: 5px;
  text-transform: capitalize;
}
.event > div > div {
  display: flex;
  flex-direction: column;
}
.event > div > div > p {
  flex-wrap: wrap;
}
.event__icon {
  background-color: #767cc1;
  border-radius: 10px;
  padding: 5px;
  color: white;
}
.event:hover {
  box-shadow: 0 0 10px rgba(129, 101, 101, 0.3);
}
.current__eventsTitle {
  padding-left: 10px;
}
.current__events {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
  margin-top: 10px;
  height: 30vh;
}
/*///////////////////////////////////////////////////////////////////////  */
.userDashboard__right {
  margin-right: 10px;
}
.current__portfolioValue {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.current__portfolioValue > h1 {
  margin-top: 20px;
}
.current__portfolioValue > h1 > span {
  margin-top: 10px;
  object-fit: contain;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: thistle;
  border-radius: 10px;
}
.your__transactionsTitle {
  display: flex;
  justify-content: space-between;
}
.your__transactionsTitle > div {
  font-size: 10px;
  cursor: pointer;
}
.news__updates {
  background-color: white;
  border-radius: 10px;
  margin-top: 25px;
}
.news__updates > h3 {
  padding-top: 10px;
  padding-left: 10px;
}
a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}
.your__transactionsTitle {
  flex: display;
  justify-content: space-between;
}
