.account-sidebar {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.theme-sidebar {
  width: 88%;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 45px;
  padding: 0 15px;
  bottom: 12px;
  font-weight: 500;
  border-radius: 10px;
}

.theme-sidebar span {
  width: 21px;
  height: 21px;
  line-height: 40px;
  text-align: center;
  margin-right: 15px;
}
